# ----------------------
# Python compiled files
# ----------------------
__pycache__/
*.py[cod]

# ----------------------
# Virtual environment
# ----------------------
venv/
.venv/

# ----------------------
# Database
# ----------------------
*.db
*.sqlite3

# ----------------------
# IDE / Editor
# ----------------------
.vscode/
.idea/

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db
desktop.ini
